extends flexLayout.pug
block header
  include layout.pug

block content
  .row.mb-3
    .col-4.push-md-10
        button.btn.btn-primary.btn-lg(type="button" data-toggle="modal" data-target="#discussionModal" href='javascript:;') New Discussion
  #discussions-list.mt-3
    each value, index in user.discussions
      .card
        .card-block
          .media
            img.d-flex.mr-3(src='/'+value.posterImage.path style="max-width: 100%; height: auto;" width="50" height="50")
            .media-body(data-id=value._id)
              span !{value.text} <br>
              small !{value.date}
                a.ml-2.comments(href='javascript:;') Comments
                a.ml-2.addComment(href='javascript:;' data-toggle="modal" data-target="#commentModal") Add comment
                if user.username === value.username
                  a.ml-2(href='javascript:;' data-toggle="modal" data-target="#editModal").edit Edit
                  a.delete.ml-2(href='') Delete
              .toggle
                each value1, index1 in value.comments
                  .media.mt-3
                    img.d-flex.mr-3(src='/'+value1.posterImage.path style="max-width: 100%; height: auto;" width="30" height="30")
                    .media-body(data-id=value1._id)
                      span !{value1.text} <br>
                      small !{value1.date}
                        if user.username === value1.username
                          a.ml-2(href='javascript:;' data-toggle="modal" data-target="#editModal").edit Edit
                          a.delete.ml-2(href='') Delete

  a.mt-2(href='/user/'+user.username+'/course/'+user.courseNo+'/group' title="Back")
    i.fa.fa-arrow-left(aria-hidden="true")

  .modal.fade#discussionModal(role="dialog" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5 Post New Discussion
        .modal-body
          .form-group
            label Message:
            textarea#message.form-control
        .modal-footer
          button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel
          button#discussionButton(type="button" class="btn btn-primary" data-dismiss="modal") Post

  .modal.fade#commentModal(role="dialog" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5 Post Comment
        .modal-body
          .form-group
            label Comment:
            textarea#comment.form-control
        .modal-footer
          button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel
          button#commentButton(type="button" class="btn btn-primary" data-dismiss="modal") Post

  .modal.fade#editModal(role="dialog" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5 Edit
        .modal-body
          .form-group
            textarea#editMessage.form-control
        .modal-footer
          button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel
          button#editButton(type="button" class="btn btn-primary" data-dismiss="modal") Save

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  //To pass variable from jade template file to below script file
  script.
    var postPath = "http://localhost:3000/user/"+"#{user.username}"+"/course/"+"#{user.courseNo}"+"/group/"+"#{user.groupNo}";
  script(src="/public/my_scripts/discussion_script.js")