extends flexLayout.pug

block header
	include layout.pug

block links
	link(href="/public/my_styles/group_style.css", rel='stylesheet')

block content
	if user.status === 'faculty'
		.row.mb-3
			.col-4.push-md-10
				button.btn.btn-primary.btn-lg#newGroup(type="button" data-toggle="modal" data-target="#groupModal" href='javascript:;') New Group
	each value, i in user.groups
		.card
			.card-block
				.row#groupList
					.col-11
						.card-title 
							h5 Group Name: !{value.groupName}
						p Task Title: !{value.taskTitle}
						each value2, j in value.members
							span.member.mr-3 !{value2.name}
								if user.status === 'faculty'
									a.remove.ml-2(href='javascript:;' title="Remove" data-index1=i data-index2=j)
										i.fa.fa-times(aria-hidden="true")
						if user.status === 'faculty'
							a.newMember(type="button" data-toggle="modal" data-target="#memberModal" href='javascript:;' title="Add" data-index=i)
								i.fa.fa-plus(aria-hidden="true")
						br
						div.mt-3
							a(href='') Discussion
							a.ml-3(href='') Documnets
					if user.status === 'faculty'
						.col-1
							a.delete(href='javascript:;' title="Delete" data-index=i)
								i.fa.fa-trash(aria-hidden="true")

	.modal.fade#groupModal(role="dialog" aria-hidden="true")
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header
					h5 Create New Group
				.modal-body
					.form-group
						input#groupName(type="text" placeholder="Group Name").form-control
					.form-group
						input#taskTitle(type="text" placeholder="Task Title").form-control
					.form-group
						span 
							b Select Group Members:
						div.nominies
				.modal-footer
					button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
					button#group-button(type="button" class="btn btn-primary" data-dismiss="modal") Save

	.modal.fade#memberModal(role="dialog" aria-hidden="true")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					h5 Add New Member
				.modal-body
					.form-group
						span 
							b Select New Members:
						div.nominies
				.modal-footer
					button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
					button#member-button(type="button" class="btn btn-primary" data-dismiss="modal") Save

block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	//To pass variable from jade template file to below script file
	script.
		var nominies = !{JSON.stringify(user.nominies).replace(/<\//g, '<\\/')}
		var postPath = "http://localhost:3000/user/" + "#{user.username}" + "/course/" + "#{user.courseNo}";
	script(src="/public/my_scripts/group_script.js")