extends flexLayout.pug

block header
	include layout.pug

block content
	.d-flex.align-items-center.justify-content-between
		form.form-inline(action="/faculty/"+username+"/course/"+index+"/marksheet/csv/upload" method="post" enctype="multipart/form-data")
			.custom-file
				input.cutom-file-input(type="file" name="csvdata" accept="csv")
				span.custom-file-control
			input.ml-2.btn.btn-primary(type="submit" value="Upload")

		form.form-inline
			button.btn.btn-primary(type="submit", formmethod="get", formaction="/faculty/"+username+"/course/"+index+"/marksheet/edit") Edit

		form.form-inline(action="/faculty/"+username+"/course/"+index+"/marksheet/add" method="post")
			.d-flex.justify-content-end.w-100
				select.mr-2.form-control(name="exam")
					option(value="assignment") Assignment
					option(value="fieldWork") Field Work
					option(value="final") Final
					option(value="mid") Mid
					option(value="quiz") Quiz
					option(value="presentation") Presentation
					option(value="project") Project

				input.btn.btn-primary(type="submit", value="Add")

	table.mt-3.table
		thead
			tr
				th No.
				th Name
				th ID
				th Email
				- let x = marksheet.quiz
				include examTitle.pug
				- x = marksheet.mid
				include examTitle.pug
				- x = marksheet.assignment
				include examTitle.pug
				- x = marksheet.project
				include examTitle.pug
				- x = marksheet.presentation
				include examTitle.pug
				- x = marksheet.fieldWork
				include examTitle.pug
				- x = marksheet.final
				include examTitle.pug
				th Attendance
				th Total
				th Grade
		tbody
			each value, index in marksheet.name
				tr
					td !{index+1}
					td !{marksheet.name[index]}
					td !{marksheet.ID[index]}
					td !{marksheet.email[index]}
					- x = marksheet.quiz
					include examBody.pug
					- x = marksheet.mid
					include examBody.pug
					- x = marksheet.assignment
					include examBody.pug
					- x = marksheet.project
					include examBody.pug
					- x = marksheet.presentation
					include examBody.pug
					- x = marksheet.fieldWork
					include examBody.pug
					- x = marksheet.final
					include examBody.pug
					td !{marksheet.attendance[index]}
					td !{marksheet.total[index]}
					td !{marksheet.grade[index]}
