doctype html
html
	include header.pug
	body
		include layout.pug
		div(class="container" style="padding-bottom: 10px;")
			div(class="row")
				div(class="col-md-5")
					form(action="/faculty/"+username+"/course/"+index+"/marksheet/csv/upload" method="post" enctype="multipart/form-data")
						input(type="file" name="csvdata" accept="csv")
						input(type="submit" value="Upload")
				div(class="col-md-3")
					form
						button(type="submit" class="btn btn-default" style="margin-top: 20px;" formmethod="get" formaction="/faculty/"+username+"/course/"+index+"/marksheet/edit") Edit
				div(class="col-md-4")
					form(action="/faculty/"+username+"/course/"+index+"/marksheet/add" method="post")
						div(class="col-md-2")
							select(name="exam")
								option(value="assignment") Assignment
								option(value="fieldWork") Field Work
								option(value="final") Final
								option(value="mid") Mid
								option(value="quiz") Quiz
								option(value="presentation") Presentation
								option(value="project") Project
						div(class="col-md-2")
							input(type="submit" class="btn btn-default" value="Add")
		div(class="container")
			table(class="table table-striped table-bordered table-hover table-condensed table-responsive")
				thead
					tr
						th No.
						th Name
						th ID
						th Email
						- let x = marksheet.quiz
						include examTitle.pug
						- x = marksheet.mid
						include examTitle.pug
						- x = marksheet.assignment
						include examTitle.pug
						- x = marksheet.project
						include examTitle.pug
						- x = marksheet.presentation
						include examTitle.pug
						- x = marksheet.fieldWork
						include examTitle.pug
						- x = marksheet.final
						include examTitle.pug
						th Attendance
						th Total
						th Grade
				tbody
					each value, index in marksheet.name
						tr
							td !{index+1}
							td !{marksheet.name[index]}
							td !{marksheet.ID[index]}
							td !{marksheet.email[index]}
							- x = marksheet.quiz
							include examBody.pug
							- x = marksheet.mid
							include examBody.pug
							- x = marksheet.assignment
							include examBody.pug
							- x = marksheet.project
							include examBody.pug
							- x = marksheet.presentation
							include examBody.pug
							- x = marksheet.fieldWork
							include examBody.pug
							- x = marksheet.final
							include examBody.pug
							td !{marksheet.attendance[index]}
							td !{marksheet.total[index]}
							td !{marksheet.grade[index]}
		include footer.pug
