extend marksheet.pug

block links
	link(rel="stylesheet", href="/public/my_styles/marksheet_edit_style.css", media="screen", title="no title", charset="utf-8")

block function
	- var examBody = function(x, no){
		each exam, no2 in x
			if no2 > 0
				td
					input.w-100(type="text", name=exam.name+'_'+no, value=exam.marks[no])
		if x.length > 0
			td !{x[0].marks[no]}
	- }

block marksheetBody
	form(action="/user/"+user.username+"/course/"+user.courseNo+"/marksheet/edit" method="post")
		table(class="table table-bordered table-hover table-condensed table-responsive")
			thead
				tr
					th No.
					th Name
					th ID
					th Email
					- let x = user.marksheet.quiz
					- examTitle(x)
					- x = user.marksheet.mid
					- examTitle(x)
					- x = user.marksheet.assignment
					- examTitle(x)
					- x = user.marksheet.project
					- examTitle(x)
					- x = user.marksheet.presentation
					- examTitle(x)
					- x = user.marksheet.fieldWork
					- examTitle(x)
					- x = user.marksheet.final
					- examTitle(x)
					th Attendance(%)
					th Total(%)
					th Grade
			tbody
				each value, no in user.marksheet.name
					tr
						td !{no+1}
						td !{user.marksheet.name[no]}
						td !{user.marksheet.ID[no]}
						td !{user.marksheet.email[no]}
						- x = user.marksheet.quiz
						- examBody(x, no)
						- x = user.marksheet.mid
						- examBody(x, no)
						- x = user.marksheet.assignment
						- examBody(x, no)
						- x = user.marksheet.project
						- examBody(x, no)
						- x = user.marksheet.presentation
						- examBody(x, no)
						- x = user.marksheet.fieldWork
						- examBody(x, no)
						- x = user.marksheet.final
						- examBody(x, no)
						td
							input.w-100(type="text", name='attendance_'+no, value=user.marksheet.attendance[no])
						td !{user.marksheet.total[no]}
						td
							input.w-100(type="text", name='grade_'+no, value=user.marksheet.grade[no])
		a.btn.btn-secondary(href="/user/"+user.username+"/course/"+user.courseNo+"/marksheet" role="button") Cancel
		input.ml-2.btn.btn-primary(type="submit" value="Save")
