extend marksheet.pug

block function
	- var examBody = function(x, no){
		each exam, no2 in x
			if no2 > 0
				td
					input(type="text", name=exam.name+'_'+no, value=exam.marks[no])
		if x.length > 0
			td !{x[0].marks[no]}
	- }

block head 

block body
	div(class="container")
		form(action="/faculty/"+username+"/course/"+index+"/marksheet/edit/save" method="post")
			table(class="table table-striped table-bordered table-hover table-condensed table-responsive")
				thead
					tr
						th No.
						th Name
						th ID
						th Email
						- let x = marksheet.quiz
						- examTitle(x)
						- x = marksheet.mid
						- examTitle(x)
						- x = marksheet.assignment
						- examTitle(x)
						- x = marksheet.project
						- examTitle(x)
						- x = marksheet.presentation
						- examTitle(x)
						- x = marksheet.fieldWork
						- examTitle(x)
						- x = marksheet.final
						- examTitle(x)
						th Attendance(%)
						th Total(%)
						th Grade
				tbody
					each value, no in marksheet.name
						tr
							td !{no+1}
							td !{marksheet.name[no]}
							td !{marksheet.ID[no]}
							td !{marksheet.email[no]}
							- x = marksheet.quiz
							- examBody(x, no)
							- x = marksheet.mid
							- examBody(x, no)
							- x = marksheet.assignment
							- examBody(x, no)
							- x = marksheet.project
							- examBody(x, no)
							- x = marksheet.presentation
							- examBody(x, no)
							- x = marksheet.fieldWork
							- examBody(x, no)
							- x = marksheet.final
							- examBody(x, no)
							td
								input(type="text", name='attendance_'+no, value=marksheet.attendance[no])
							td !{marksheet.total[no]}
							td
								input(type="text", name='grade_'+no, value=marksheet.grade[no])
			input(type="submit" value="Save")
		a(href="/faculty/"+username+"/course/"+index+"/marksheet" class="btn btn-danger" role="button") Cancel