extends flexLayout.pug

block header
	include layout.pug

block content
	- var examTitle = function(x, no)
		each exam, no2 in x
			if no2 > 0
				th 
					a(href="/faculty/"+username+"/course/"+index+"/marksheet/"+exam.url) !{exam.name}
		if x.length > 0
			th
				a(href="/faculty/"+username+"/course/"+index+"/marksheet/"+x[0].url) !{x[0].name}(%)
	
	block function
		- var examBody = function(x, no){
			each exam, no2 in x
				if no2 > 0
					td !{exam.marks[no]} !{exam.parcentage[no]} 
			if x.length > 0
				td !{x[0].marks[no]}
		- }
	
	block head
		.d-flex.align-items-center.justify-content-between
			form.form-inline(action="/faculty/"+username+"/course/"+index+"/marksheet/csv/upload" method="post" enctype="multipart/form-data")
				.custom-file
					input.cutom-file-input(type="file" name="csvdata" accept="csv")
					span.custom-file-control
				input.ml-2.btn.btn-primary(type="submit" value="Upload")

			form.form-inline
				button.btn.btn-primary(type="submit", formmethod="get", formaction="/faculty/"+username+"/course/"+index+"/marksheet/student/add") Add Student

			form.form-inline
				button.btn.btn-primary(type="Add Student", formmethod="get", formaction="/faculty/"+username+"/course/"+index+"/marksheet/edit") Edit

			form.form-inline(action="/faculty/"+username+"/course/"+index+"/marksheet/add" method="post")
				.d-flex.justify-content-end.w-100
					select.mr-2.form-control(name="exam")
						option(value="assignment") Assignment
						option(value="fieldWork") Field Work
						option(value="final") Final
						option(value="mid") Mid
						option(value="quiz") Quiz
						option(value="presentation") Presentation
						option(value="project") Project

					input.btn.btn-primary(type="submit", value="Add")

	block body
		table.mt-3.table
			thead
				tr
					th No.
					th Name
					th ID
					th Email
					- let x = marksheet.quiz
					- examTitle(x)
					- x = marksheet.mid
					- examTitle(x)
					- x = marksheet.assignment
					- examTitle(x)
					- x = marksheet.project
					- examTitle(x)
					- x = marksheet.presentation
					- examTitle(x)
					- x = marksheet.fieldWork
					- examTitle(x)
					- x = marksheet.final
					- examTitle(x)
					th Attendance(%)
					th Total(%)
					th Grade
			tbody
				each value, no in marksheet.name
					tr
						td !{no+1} 
							form(action="/faculty/"+username+"/course/"+index+"/marksheet/student/"+no+"/delete", method="post")
								input(type="submit" value="Delete")
						td !{marksheet.name[no]}
						td !{marksheet.ID[no]}
						td !{marksheet.email[no]}
						- x = marksheet.quiz
						- examBody(x, no)
						- x = marksheet.mid
						- examBody(x, no)
						- x = marksheet.assignment
						- examBody(x, no)
						- x = marksheet.project
						- examBody(x, no)
						- x = marksheet.presentation
						- examBody(x, no)
						- x = marksheet.fieldWork
						- examBody(x, no)
						- x = marksheet.final
						- examBody(x, no)
						td !{marksheet.attendance[no]}
						td !{marksheet.total[no]}
						td !{marksheet.grade[no]}
