.border-1.p-3.mb-3
	.row
		.col
			h3 Office Hours:
			each value, index in faculty.officeHours
				form.mt-1.form-inline.d-flex(action="/faculty/"+faculty.username+"/office-hour/"+index+"/delete", method="post")
					span= value
					if whoIsLooking.toString() === 'faculty'
						input.ml-3.btn.btn-danger(type="submit", value="Delete")
		if whoIsLooking.toString() === 'faculty'
			.col-5
				h3 New Office Hour
				form(action="/faculty/"+faculty.username+"/office-hour/add", method="post")
					.row
						.col
							select.form-control(name="day")
								option(value="Sunday") Sunday
								option(value="Monday") Monday
								option(value="Tuesday") Tuesday
								option(value="Wednesday") Wednesday
								option(value="Thursday") Thursday
								option(value="Friday") Friday
								option(value="Saturday") Saturday
					.row.mt-2
						.col-2
							label.col-form-label <b> From: </b>
						.col
							select.form-control(name="startHour")
								- var n = 1
								while n <= 12
									option(value=n)= n++
						.col
							select.form-control(name="startMin")
								- var n = 0
								while n < 60
									option(value=n)= n++
						.col
							select.form-control(name="amOrPm1")
								option(value="am") am
								option(value="pm") pm
					.row.mt-2
						.col-2
							label.col-form-label <b> To: </b>
						.col
							select.form-control(name="endHour")
								- var n = 1
								while n <= 12
									option(value=n)= n++
						.col
							select.form-control(name="endMin")
								- var n = 0
								while n < 60
									option(value=n)= n++
						.col
							select.form-control(name="amOrPm2")
								option(value="am") am
								option(value="pm") pm
					.row.mt-2
						.col
							input.btn.btn-primary(type="submit", value="Add")
