div(class="container" style="border-bottom: 2px solid black; border-left: 2px solid black; border-right: 2px solid black; padding-bottom:10px;")
	div(class="row")
		div(class="col-md-6")
			h3 <b>Office Hours:</b>
			each value, index in officeHours
				div(class="row")
					form(class="form-inline" action="/faculty/"+username+"/office-hour/"+index+"/delete" method="post")
						div(class="col-md-3" style="margin-top: 20px;")
							span !{value}
						div(class="col-md-3" style="margin-top: 0px;")
							input(type="submit" class="btn btn-danger" value="Delete")
		div(class="col-md-6")
			h3 New Office Hour
			form(action="/faculty/"+username+"/office-hour/add" method="post")
				div(class="row")
					div(class="col-md-6" style="margin-top: 20px;")
						select(name="day")
							option(value="Sunday") Sunday
							option(value="Monday") Monday
							option(value="Tuesday") Tuesday
							option(value="Wednesday") Wednesday
							option(value="Thursday") Thursday
							option(value="Friday") Friday
							option(value="Saturday") Saturday
				div(class="row")
					div(class="col-md-2", style="margin-top: 20px;")
						select(name="startHour")
							- var n = 1
							while n <= 12
								option(value=n)= n++
					div(class="col-md-2", style="margin-top: 20px;")
						select(name="startMin")
							- var n = 0
							while n < 60
								option(value=n)= n++
					div(class="col-md-2", style="margin-top: 20px;")
						select(name="amOrPm1")
							option(value="am") am
							option(value="pm") pm
				div(class="row")
					div(class="col-md-6")
						h5 to
				div(class="row")
					div(class="col-md-2")
						select(name="endHour")
							- var n = 1
							while n <= 12
								option(value=n)= n++
					div(class="col-md-2")
						select(name="endMin")
							- var n = 0
							while n < 60
								option(value=n)= n++
					div(class="col-md-2")
						select(name="amOrPm2")
							option(value="am") am
							option(value="pm") pm
				div(class="row")
					div(class="col-md-6")
						input(type="submit" class="btn btn-default" value="Add")