.border-1.p-3.mb-3
	h3 Profile:
	p <b>Name:</b>		!{faculty.name}
	p <b>Email:</b>		!{faculty.email}
	p <b>Username:</b>	!{faculty.username}
	p <b>School:</b>		!{faculty.school}
	p <b>Country:</b>		!{faculty.country}
	p <b>Status:</b>		!{faculty.status}
	p <b>Initial:</b>		!{faculty.initial}
	p <b>Department:</b>	!{faculty.department}
	p <b>Office Room:</b>	!{faculty.officeRoom}
	if whoIsLooking.toString() == 'faculty'
		a.btn.btn-secondary.mr-2(href="/faculty/"+faculty.username+"/profile/edit", role="button") Edit
		a.btn.btn-secondary.mr-2(href="/faculty/"+faculty.username+"/password/change", role="button") Change Password
		if faculty.isChair == true
			a.btn.btn-secondary.mr-2(href="/preregistrations", role="button") ChairMode
