.border-1.p-3.mb-3
	h3 Profile:
	p <b>Name:</b>		!{name}
	p <b>Email:</b>		!{email}
	p <b>Username:</b>	!{username}
	p <b>School:</b>		!{school}
	p <b>Country:</b>		!{country}
	p <b>Status:</b>		!{status}
	p <b>Initial:</b>		!{initial}
	p <b>Department:</b>	!{department}
	p <b>Office Room:</b>	!{officeRoom}

	a.btn.btn-secondary.mr-2(href="/faculty/"+username+"/profile/edit", role="button") Edit
	a.btn.btn-secondary(href="/faculty/"+username+"/password/change", role="button") Change Password
