doctype html
html
  include header.pug
  body
    include layout.pug
    div(class="container")
      form(action="/faculty/"+username+"/profile/edit/save" method="post")
        div(class="form-group")
          label Name:
          input(type="text" name="name" value=name)
        div(class="form-group")
          label School:
          input(type="text" name="school" value=school)
        div(class="form-group")
          label Country:
          input(type="text" name="country" value=country)
        div(class="form-group")
          label Initial
          input(type="text" name="initial" value=initial)
        div(class="form-group")
          label Department
          input(type="text" name="department" value=department)
        div(class="form-group")
          label Office Room
          input(type="text" name="officeRoom" value=officeRoom)
        div(class="form-group")
          input(type="submit" value="Save")
    include footer.pug