div(class="container" style="border: 2px solid black")
	div
		h4 <b>Name:</b>		!{name}
		h4 <b>Email:</b>		!{email}
		h4 <b>Username:</b>	!{username}
		h4 <b>School:</b>		!{school}
		h4 <b>Country:</b>		!{country}
		h4 <b>Status:</b>		!{status}
		h4 <b>Initial:</b>		!{initial}
		h4 <b>Department:</b>	!{department}
		h4 <b>Office Room:</b>	!{officeRoom}
		a(href="/faculty/"+username+"/profile/edit" class="btn btn-primary" role="button", style="margin-bottom:10px") Edit