.border-1.p-3.mb-3
	h3 Profile:
	p <b>Name:</b>		!{name}
	p <b>Email:</b>		!{email}
	p <b>ID:</b>		!{ID}
	p <b>Username:</b>	!{username}
	p <b>School:</b>		!{school}
	p <b>Country:</b>		!{country}
	p <b>Status:</b>		!{status}

	a.btn.btn-secondary.mr-2(href="/student/"+username+"/profile/edit", role="button") Edit
	a.btn.btn-secondary(href="/student/"+username+"/password/change", role="button") Change Password
