extends flexLayout.pug

block links
  link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css")

block header
  include layout.pug

block content
  h4 Submission
  .row
    .col-8
      #submission-list
        each value, index in user.submissions
          .card(data-id=value._id)
            .card-block
              .card-title
                p !{value.title}
              a(href='/user/'+user.username+'/submission/'+value._id target="_blank")
                img(src='/public/image/folder_image.png' width='50' height='50')
              <br>
              small.time.mr-3 !{value.endTime}
              if Number(value.milliseconds) > Number(user.currentTime)
                small.status.mr-3 Open
              else
                small.status.mr-3 Closed
              if (user.status === 'faculty')
                small
                  a.mr-3.change(href='javascript:;') Change Time
                  a.delete.mr-3(href='javascript:;') Delete
    if (user.status === 'faculty')
      .col-4
        .card
            .card-block#one
              .card-title Create a New Submission Window
              p Title:
                input.title(type:"text")
              p End Time:
              p Date: 
               input.datepicker(type="text")
              p Time:
                input.timepicker(type="text")
              button#create(type="button" class="btn btn-primary" data-dismiss="modal") Create
            .card-block#two
              .card-title(style="color: red") Change Time
              p.title1
              p End Time:
              p Date: 
               input.datepicker1(type="text")
              p Time:
                input.timepicker1(type="text")
              button#change(type="button" class="btn btn-primary" data-dismiss="modal") Change
  

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="https://code.jquery.com/jquery-1.12.4.js")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js")
  script.
    var username = "#{user.username}";
    var postPath = "http://localhost:3000/user/"+"#{user.username}"+"/course/"+"#{user.courseNo}";
  script(src="/public/my_scripts/submission_script.js")